* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #585858;
  overflow: hidden;
}

.clock {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#6868f8), to(#5cfc5c));
  background: linear-gradient(#6868f8, #5cfc5c);
  -webkit-box-shadow: 10px 20px 25px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 20px 25px 20px rgba(0, 0, 0, 0.5);
  -webkit-animation: shadow 4s ease-in-out infinite;
          animation: shadow 4s ease-in-out infinite;
}

@-webkit-keyframes shadow {
  0%,
  100% {
    -webkit-box-shadow: 15px 25px 20px 20px rgba(0, 0, 0, 0.5);
            box-shadow: 15px 25px 20px 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 10px 20px 30px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 20px 30px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes shadow {
  0%,
  100% {
    -webkit-box-shadow: 15px 25px 20px 20px rgba(0, 0, 0, 0.5);
            box-shadow: 15px 25px 20px 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 10px 20px 30px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 20px 30px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.clock #time {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 40px;
}

.clock #centr {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 10;
}

.clock .hCircle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #000;
  background: #ffda37;
  font-size: 30px;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.clock .hour,
.clock .hr {
  width: 280px;
  height: 280px;
}

.clock .min,
.clock .mn {
  width: 330px;
  height: 330px;
}

.clock .sec,
.clock .sc {
  width: 380px;
  height: 380px;
}

.clock .hr,
.clock .mn,
.clock .sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock .hr::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 160px;
  background: #ff105e;
  border-radius: 6px;
  border: 2px solid #000;
}

.clock .mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 190px;
  background: #fff;
  border-radius: 6px;
  border: 2px solid #000;
}

.clock .sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 230px;
  background: #fff;
  border-radius: 6px;
  z-index: 20;
  border: 2px solid #000;
}
